$primary: #7a3fff;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap-icons/font/bootstrap-icons';

.status-badge {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.625rem;
  font-size: 0.75rem;
  color: var(--bs-white);
}

.info-badge {
  font-size: 0.75rem;
}

.list-group-item.active {
  .status-badge {
    background-color: var(--bs-white) !important;
    color: var(--bs-primary) !important;
  }

  .info-badge {
    background-color: #692eee !important;
  }
}
